@import "../../_variables";
@import "../../mixins";

#home-page {
  width: 100%;
  height: 100%;
  animation: fadein 1s ease-out;

  #intro {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
    background-color: $third-color;

    #home-headers-logo {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;

      & > h1 {
        font-family: $main-heading-font;
        font-size: 3rem;
        color: $first-color;

        &::after {
          content: "Music Bay";
          font-size: 3.5rem;
          color: $second-color;
          font-family: $secondary-heading-font;
        }
      }

      & > h3 {
        font-family: $secondary-heading-font;
        font-size: 2rem;
        background: linear-gradient(to right, $fifth-color, $first-color, $fourth-color);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }

    #get-started-action {
      display: flex;
      justify-content: center;

      & > button {
        @include btnStyle($second-color);

        & > a {
          color: $third-color;
          text-decoration: none;
          font-family: $secondary-heading-font;
        }
      }
    }

    .separator {
      @include home-separtor($first-color);
    }
  }

  #get-started-options {
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: $first-color;
    position: relative;
    #get-started-intro {
      color: $third-color;
      font-family: $regular-text-font;
      text-align: center;
      width: 60%;

      & > h1 {
        background: linear-gradient(to right, $fifth-color, $third-color);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-family: $secondary-heading-font;
      }
    }
    #home-btns {
      height: fit-content;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: flex-start;
      font-family: $regular-text-font;
      & > a > button {
        @include btnStyle($fourth-color);
        cursor: pointer;
      }
    }
  }
}
