@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Copse&display=swap");

//colors
$first-color: #24225c;
$second-color: #1d2996;
$third-color: #ffffff;
$fourth-color: #c939e6;
$fifth-color: #4ad8ce;
$shadow-color: #ababab;

//fonts
$main-heading-font: "Roboto Mono", monospace;
$secondary-heading-font: "Pacifico", cursive;
$regular-text-font: "Noto Serif", serif;
$numbers-font: "Copse", serif;

//z-index varibales
$music-controls-zindex: 4;
$navbar-zindex: 5;
$home-page-zindex: 6;

//animations
@keyframes sound_1 {
  0% {
    transform: translateY(0%);
  }
  25% {
    transform: translateY(25%);
  }

  75% {
    transform: translateY(-25%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes sound_2 {
  0% {
    transform: translateY(0%);
  }
  25% {
    transform: translateY(-25%);
  }

  75% {
    transform: translateY(25%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
