@import "../../variables";

svg {
    width: 200px;
    height: 200px;
    

    #logo {
        #sides{
            animation-name: sound_1;
            animation-duration: 2s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;

            & > :first-child {
                fill: $fifth-color;
            }

            & > :last-child {
                fill: $fourth-color;
            }
        }
    
        #middle {
            animation-name: sound_2;
            animation-duration: 2s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;

            & > :first-child{
                fill: $first-color;
            }
        }
    }
}

