@import "../../_variables.scss";

#musicplayer_full {
  background-color: $third-color;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}